<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simpleWeb.mapper.kafka.MagicCubeMapper">
    
    <resultMap id="BaseResultMap" type="com.simpleWeb.entity.db.kafka.MagicCubeDO">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="MAGIC_NAME" property="magicName" jdbcType="VARCHAR"/>
        <result column="CREATETIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATETIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="VERSION" property="version" jdbcType="INTEGER"/>
    </resultMap>
    
    <select id="selectByMagicName" resultMap="BaseResultMap">
        SELECT ID, MAGIC_NAME, CREATETIME, UPDATETIME, VERSION
        FROM MAGIC_CUBE
        WHERE MAGIC_NAME = #{magicName}
        LIMIT 1
    </select>
    
</mapper>
