<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery.js}"></script>
    <title>winname</title>
    <script type="text/javascript">
        var t =  document.getElementsByTagName('td');
    </script>
</head>
<body>
    <h1>下载列表</h1>
    <table class="table">
        <thead>
            <th>软件列表</th>
        </thead>
        <tbody class="table-view">
            <td><a href="javascript:void(0)"> jd</a></td>
            <td><a href="javascript:void(0)"> mimi</a></td>
        </tbody>
    </table>

</body>
</html>