<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script type="text/javascript" src="/static/vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/vendor/echarts.js"></script>
</head>
<!--css-->
<style>
    .main {
        width: 1700px;
        height: 850px;
    }
</style>
<!--js-->
<script type="text/javascript">
    $(document).ready(function () {
        var xAxis = [];
        var y_upTline = [];
        var y_downTline = [];
        var y_upBaseline = [];
        var y_downBaseline = [];
        $("#charts").width($(window).width()).height($(window).height());
        $.ajax({
            type: "GET",
            url: "/cpu/getbaseline",
            dataType: "json",
            headers: {"Content-Type": "application/json"},
            timeout: 5 * 60 * 1000,
            // data: JSON.stringify(json),
            success: function (response) {
                console.log(response);
                if (response instanceof Object) {
                    if (response.code === 200 && response.data != null) {
                        // for (let i = 0; i < response.data.length; i++) {
                        //     let stu = response.data[i];
                        //     $("#rs").append("<div>"+"id: "+stu.id + ";name: "+stu.name +";age: " + stu.age+"</div>");
                        // }
                        xAxis = response.data.xAxis;
                        y_upTline = response.data.series.upTline;
                        y_downTline = response.data.series.downTline;
                        y_upBaseline = response.data.series.upBaseline;
                        y_downBaseline = response.data.series.downBaseline;
                        var chartDom = document.getElementById('charts');
                        var myChart = echarts.init(chartDom);
                        var option;

                        option = {
                            xAxis: {
                                type: 'category',
                                data: xAxis
                            },
                            yAxis: {
                                type: 'value'
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross',
                                    label: {
                                        backgroundColor: '#6a7985'
                                    }
                                }
                            },
                            dataZoom: [
                                {
                                    type: 'slider',
                                    show: 'true',
                                    xAxisIndex: [0],
                                    left: '3%',
                                    start: 0,
                                    end: 36
                                },
                                {
                                    type: 'inside',
                                    yAxisIndex: [0],
                                    start: 0,
                                    end: 36
                                }
                            ],
                            legend: {
                                data: ['upTline', 'downTline', 'upBaseline', 'downBaseline']
                            },
                            series: [
                                {
                                    name: 'upTline',
                                    data: y_upTline,
                                    type: 'line',
                                    smooth: true
                                },
                                {
                                    name: 'downTline',
                                    data: y_downTline,
                                    type: 'line',
                                    smooth: true
                                },
                                {
                                    name: 'upBaseline',
                                    data: y_upBaseline,
                                    type: 'line',
                                    smooth: true
                                },
                                {
                                    name: 'downBaseline',
                                    data: y_downBaseline,
                                    type: 'line',
                                    smooth: true
                                },
                            ]
                        };

                        option && myChart.setOption(option);
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
                console.log(jqXHR.status);
                console.log(jqXHR.readyState);
                console.log(jqXHR.statusText);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    });

</script>
<!--content-->
<body>
<div id="charts" class="main">
</div>
</body>
</html>