<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script type="text/javascript" src="/static/vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/vendor/echarts.js"></script>
</head>
<!--css-->
<style>
    .main {
        width: 1700px;
        height: 850px;
    }
</style>
<!--js-->
<script type="text/javascript">
    $(document).ready(function () {
        var xAxis = [];
        var y_upTline = [];
        var y_downTline = [];
        var y_upBaseline = [];
        var y_downBaseline = [];
        var y_realCpu = [];
        $("#charts").width($(window).width()).height($(window).height()-$("#ip").height());
        var ip ;
        $("select").change(function(){
            console.log(ip);
            ip = $(this).val();
            $.ajax({
                type: "GET",
                url: "/cpu/getbaseline?ip="+ ip,
                dataType: "json",
                headers: {"Content-Type": "application/json"},
                timeout: 5 * 60 * 1000,
                // data: JSON.stringify(json),
                success: function (response) {
                    console.log(response);
                    if (response instanceof Object) {
                        if (response.code === 200 && response.data != null) {
                            // for (let i = 0; i < response.data.length; i++) {
                            //     let stu = response.data[i];
                            //     $("#rs").append("<div>"+"id: "+stu.id + ";name: "+stu.name +";age: " + stu.age+"</div>");
                            // }
                            xAxis = response.data.xAxis;
                            y_upTline = response.data.series.upTline;
                            y_downTline = response.data.series.downTline;
                            y_upBaseline = response.data.series.upBaseline;
                            y_downBaseline = response.data.series.downBaseline;
                            y_realCpu = response.data.series.realCpu;
                            var chartDom = document.getElementById('charts');
                            var myChart = echarts.init(chartDom);
                            var option;

                            option = {
                                xAxis: {
                                    type: 'category',
                                    data: xAxis
                                },
                                yAxis: {
                                    type: 'value'
                                },
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                        type: 'cross',
                                        label: {
                                            backgroundColor: '#6a7985'
                                        }
                                    }
                                },
                                dataZoom: [
                                    {
                                        type: 'slider',
                                        show: 'true',
                                        xAxisIndex: [0],
                                        left: '3%',
                                        start: 0,
                                        end: 36
                                    },
                                    {
                                        type: 'inside',
                                        yAxisIndex: [0],
                                        start: 0,
                                        end: 36
                                    }
                                ],
                                legend: {
                                    data: ['上容忍线', '下容忍线', '上基线', '下基线','CPU使用率']
                                },
                                series: [
                                    {
                                        name: '上容忍线',
                                        data: y_upTline,
                                        type: 'line',
                                        smooth: true
                                    },
                                    {
                                        name: '下容忍线',
                                        data: y_downTline,
                                        type: 'line',
                                        smooth: true
                                    },
                                    {
                                        name: '上基线',
                                        data: y_upBaseline,
                                        type: 'line',
                                        smooth: true
                                    },
                                    {
                                        name: '下基线',
                                        data: y_downBaseline,
                                        type: 'line',
                                        smooth: true
                                    },
                                    {
                                        name: 'CPU使用率',
                                        data: y_realCpu,
                                        type: 'line',
                                        smooth: true
                                    }
                                ]
                            };

                            option && myChart.setOption(option);
                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                    console.log(jqXHR.status);
                    console.log(jqXHR.readyState);
                    console.log(jqXHR.statusText);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });

        })

    });

</script>
<!--content-->

<body>
<div id="ip" style="width: 1000px;height: auto">
    <select id="selip" name="选择ip">
<!--        <option value="107.200.34.86">107.200.34.86</option>-->
<!--        <option value="107.17.128.193">107.17.128.193</option>-->
<!--        <option value="102.200.192.211">102.200.192.211</option>-->
<!--        <option value="107.196.0.128">107.196.0.128</option>-->
<!--        <option value="107.200.34.39">107.200.39.233</option>-->
    </select>
    <script type="text/javascript">
        $(function () {
            var ips = [/*"102.200.166.156",
                "102.200.194.44",
                "107.200.51.247",
                " 172.20.8.16",
                "102.200.224.118",
                "107.200.50.120",
                "124.1.1.211",
                "102.200.194.166",
                "102.200.218.193",
                "102.200.202.245",
                "107.200.39.164",
                "102.200.245.40",
                "107.200.38.228",
                "102.200.139.243",
                "102.200.211.198",
                "107.200.32.23",
                "102.200.217.39"*/
                "--请选择--",
                "107.200.34.86",
                "107.200.34.39",
                "107.17.128.193"
            ]
            for (var i = 0; i < ips.length; i++) {
                $("select").append("<option value='"+ips[i]+"'>"+ips[i]+"</option>")
            }
        })
    </script>
</div>
<div id="charts" class="main">
</div>
</body>
</html>